LF82.gff
LF82.names.txt
LF82_proteins.fasta
MG1655.gff
MG1655.names.txt
MG1655_proteins.fasta
README_blastp_cmd
best_reciprocal_match.txt
best_reciprocal_match_all.txt
example
ncbi_dataset.zip
ncbi_dataset_LF82/
ncbi_dataset_MG1655/
blastp/.get_best_reci[rocal_match.pl.swp
blastp/LF82_protein.fasta
blastp/LF82_protein.fasta.pdb
blastp/LF82_protein.fasta.phr
blastp/LF82_protein.fasta.pin
blastp/LF82_protein.fasta.pjs
blastp/LF82_protein.fasta.pot
blastp/LF82_protein.fasta.psq
blastp/LF82_protein.fasta.ptf
blastp/LF82_protein.fasta.pto
blastp/MG_protein.fasta
blastp/MG_protein.fasta.pdb
blastp/MG_protein.fasta.phr
blastp/MG_protein.fasta.pin
blastp/MG_protein.fasta.pjs
blastp/MG_protein.fasta.pot
blastp/MG_protein.fasta.psq
blastp/MG_protein.fasta.ptf
blastp/MG_protein.fasta.pto
blastp/test
blastp/test_dup
